<h1> Sign Up</h1>

<form method="post" action="/confirmed">
<label>Username:</label>
    <input type="text" name="username">
<label>Password:</label>
    <input type="password" name="password">
    <label>Email: </label>
    <input type="email" name="email">
    <button>Create profile</button>
</form>